body {
    margin: 0;
    padding: 0;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-position: center;
    
  }

  .button {
    display: flex;
    justify-content: center;
    
  }